{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    "syntax-async-functions",
    "transform-regenerator",
    "transform-runtime"
  ]
}